<p>This is the about view.</p>
<div class="navbar-nav navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <!-- <a href="index.html">
            <i class="icon-home icon-white"></i> Home
          </a> -->
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-sm-12 col-lg-12">
      <article class="widget">
        <div class="widget-inner">

          <header>
            <h1>Brainwave</h1>
          </header>

          <section class="widget-body">
            <div id="Brainwave" class="epoch" style="height: 200px;"></div>
          </section>

        </div><!-- .widget-inner -->

      </article>
    </div>

  </div>

</div>

